/* Home Page Styling */

/* Fullscreen background */
#background {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.home-container {
	height: 50vh;
	position: relative;
}

.divider-container {
	position: absolute;
	display: flex;
	z-index: 1;
}


.divider-container h2 {
	color: #00f;
}
